#nickname {
    position:absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
#nickname > form {
    margin: 30% auto;
    background-color: gray;
}